/* .jumbotron {
    background-color: #66a3ff;
    color: white;
    text-align: center;
    margin-top: 50px;
    height: 400px;
    margin-bottom: 0px;
} */

img {
    margin-bottom: 10px;
    margin-top: 65px;
}

.footer {
    margin-top: 15px;
    padding: 10px 10px 0 10px;
    background-color: #66a3ff;
    color: white;
    font-weight: bold;
    width: 100vw;
    position: absolute;
}

footer a {
    color: white;
    font-weight: bold;
}

.footer-icon {
    padding-right: 10px;
}

.cart-inermag {
    flex: 1 200px;
    margin: 2px;
}

.btn-inermag {
    width: 100%;
    position: 0;
    border-radius: 0px;
}

thead {
    background: rgb(98, 105, 105);
    color: white;
    font-weight: bold;
}